.blue {
  color: #a7bdd0;
}

#logo, #closeButton, #mainBtnHeader{
	//height: 80px;
	padding: 0;
	//text-align: center;
	vertical-align: middle;
	padding-top: 4px;
	color: #5c5c5c;
}
#closeButton{
	text-align: right;
}
#logo a, #btnExit, #mainBtnHeader{
	color: #505050;
	font-family: 'cleanvel';
	font-size: 52px;
}
#logo a:hover, #btnExit:hover,#logo a:active{
	color: #a7bdd0;
	text-decoration: none;
}
#mainBtnHeader{
	text-align: center;
}
#btnExit img{
	width: 39px;
	padding-bottom: 10px;
}
/* Заголовок Снять и Галерея*/
#galleryHeader{
	text-align: center;
	font-family: 'cleanvel';
	font-size: 76px;
	//line-height: 90px;
	color: #5c5c5c;
	//padding-top: 6px;
}
@media (max-width: 800px) {
	#logo a, #btnExit{
		font-size: 52px;
	}
	#header{
		min-height: 80px;
	}
	#mainBtnHeader, #galleryHeader{
		font-size: 52px;
		//line-height: 60px;
	}
}
@media (max-width: 700px) {
	#logo a, #btnExit{
		font-size: 44px;
	}
	#btnExit img {
		width: 33px;
		padding-bottom: 6px;
	}
	#header{
		min-height: 66px;
	}
	#mainBtnHeader, #galleryHeader{
		font-size: 44px;
		//line-height: 55px;
	}
}
@media (max-width: 600px) {
	#logo a, #btnExit{
		font-size: 36px;
	}
	#header{
		min-height: 55px;
	}
	#mainBtnHeader, #galleryHeader{
		font-size: 36px;
		//line-height: 46px;
	}
}
@media (max-width: 500px) {
	#logo a, #btnExit{
		font-size: 28px;
	}
	#btnExit img {
		width: 24px;
		padding-bottom: 3px;
	}
	#header{
		min-height: 44px;
	}
	#mainBtnHeader, #galleryHeader{
		font-size: 28px;
		//line-height: 42px;
	}
}
@media (max-width: 400px) {
	#logo a, #btnExit{
		font-size: 19px;
	}
	#btnExit img {
		width: 18px;
		padding-bottom: 3px;
	}
	#header{
		min-height: 33px;
	}
	#mainBtnHeader, #galleryHeader{
		font-size: 19px;
		//line-height: 37px;
	}
}
@media (max-width: 328px) {
	#logo a, #btnExit{
		font-size: 19px;
	}
	#mainBtnHeader, #galleryHeader{
		font-size: 19px;
		//line-height: 37px;
	}
}
#closeButton{
	cursor: pointer;
}
#btnExit:active, #btnExit:hover{
	color: #a7bdd0;
}

/* кнопки фото и видео */
#MainBtnAvi, #MainBtnBmp, #MainBtnConf{
	width: 40%;
	display: inline;
	background-color: #a7bdd0;
	float: left;
	font-size: 83px;
	color: #fff;
	overflow: auto;
	font-family: 'cleanvel';
	text-align: center;
	cursor: pointer;
}
#MainBtnConf{
	width:20%;
}


#MainBtnAvi:hover,#MainBtnAvi:active, #MainBtnBmp:hover, #MainBtnBmp:hover, #MainBtnConf:hover, #MainBtnConf:hover{
	background-color: #cbd4db;
}
#MainBtnBmp{
	border-right: 2px solid #fff;
}
#MainBtnAvi{
	border-left: 2px solid #fff;
}
#MainBtnAvi img, #MainBtnBmp img, #MainBtnConf img{
	height: 64px;
	margin-bottom: 20px;
}

@media (max-width: 800px) {
	#MainBtnAvi, #MainBtnBmp, #MainBtnConf{
		font-size: 59px;
	}
	#MainBtnAvi img, #MainBtnBmp img, #MainBtnConf img{
		height: 49px;
		margin-bottom: 15px;
	}
}
@media (max-width: 700px) {
	#MainBtnAvi, #MainBtnBmp, #MainBtnConf{
		font-size: 49px;
	}
	#MainBtnAvi img, #MainBtnBmp img, #MainBtnConf img{
		height: 39px;
		margin-bottom: 11px;
	}
}
@media (max-width: 600px) {
	#MainBtnAvi, #MainBtnBmp, #MainBtnConf{
		font-size: 43px;
	}
	#MainBtnAvi img, #MainBtnBmp img, #MainBtnConf img{
		height: 33px;
		margin-bottom: 11px;
	}
}
@media (max-width: 500px) {
	#MainBtnAvi, #MainBtnBmp, #MainBtnConf{
		font-size: 37px;
	}
	#MainBtnAvi img, #MainBtnBmp img, #MainBtnConf img{
		height: 35px;
		margin-bottom: 9px;
	}
}
@media (max-width: 400px) {
	#MainBtnAvi, #MainBtnBmp, #MainBtnConf{
		font-size: 25px;
	}
	#MainBtnAvi img, #MainBtnBmp img, #MainBtnConf img{
		height: 23px;
		margin-bottom: 8px;
	}
}
@media (max-width: 300px) {
	#MainBtnAvi, #MainBtnBmp, #MainBtnConf{
		font-size: 31px;
	}
	#MainBtnAvi img, #MainBtnBmp img, #MainBtnConf img{
		height: 28px;
		margin-bottom: 8px;
	}
}

#gallery{
	position: relative;
	margin:10px;
	padding: 0;
}

#mjpeg_dest{
	width: 100%;
}

.btnDisabled{
	background-color: #cbd4db !important;
}

.liveimage{
	background-color: #000;
	border: 5px solid #a7bdd0;
	border-bottom: 0px;
}

#subGallery{
	position: fixed;
	width: 100%;
	bottom: 0px;
	border-top: 1px solid #ccc;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #fff;
	font-family: 'cleanvel';
	text-align: center;
	overflow-y: scroll; 
}

#showGalleryBtn{
	min-height: 55px;
	width: 100%;
	border-top: 1px solid #ccc;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #fff;
	font-family: 'cleanvel';
	text-align: center;
	font-size: 38px;
	cursor: pointer;
}
#showGalleryBtn:hover{
	color: #a7bdd0;
}
@media (max-width: 800px) {
	#showGalleryBtn{
		min-height: 49px;
		font-size: 34px;
	}
}
@media (max-width: 700px) {
	#showGalleryBtn{
		min-height: 45px;
		font-size: 34px;
	}
}
@media (max-width: 600px) {
	#showGalleryBtn{
		min-height: 40px;
		font-size: 31px;
	}
}
@media (max-width: 500px) {
	#showGalleryBtn{
		min-height: 38px;
  		font-size: 26px;
	}
}
@media (max-width: 400px) {
	#showGalleryBtn{
		min-height: 33px;
		font-size: 23px;
	}
}
#showGalleryBtn > span.glyphicon{
	position: relative;
  	top: 5px;
  	color: #999;
}
/* нижнее меню */
#footerSelectAction{
	display: none;
}
#footerSelectCancel{
	display: none;
}
#footerButtons{
	min-height: 80px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	border-top: 1px solid #ccc;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #fff;
}
.footerMenuButton{
	font-size: 52px;
	font-family: 'cleanvel';
	color: #505050;
	cursor: pointer;
}
.footerMenuButton:hover, .footerMenuButton:active{
	color: #a7bdd0;	
}
#footerSelect, #footerSelectAction{
	float: left;
	text-align: left;
	padding-left: 10px;
}
#footerClearAll, #footerSelectCancel{
	float: right;
	text-align: right;
	padding-right: 10px;
}
@media (max-width: 800px) {
	.footerMenuButton{
		font-size: 52px;
	}
	#footerButtons{
		min-height: 80px;
	}
	section.mediaContainer{
		padding-bottom: 80px;
	}
}
@media (max-width: 700px) {
	.footerMenuButton{
		font-size: 44px;
	}
	#footerButtons{
		min-height: 66px;
	}
	section.mediaContainer{
		padding-bottom: 66px;
	}
}
@media (max-width: 600px) {
	.footerMenuButton{
		font-size: 36px;
	}
	#footerButtons{
		min-height: 55px;
	}
	section.mediaContainer{
		padding-bottom: 55px;
	}
}
@media (max-width: 500px) {
	.footerMenuButton{
		font-size: 28px;
	}
	#footerButtons{
		min-height: 44px;
	}
	section.mediaContainer{
		padding-bottom: 44px;
	}
}
@media (max-width: 400px) {
	.footerMenuButton{
		font-size: 19px;
	}
	#footerButtons{
		min-height: 33px;
	}
	section.mediaContainer{
		padding-bottom: 33px;
	}
}
@media (max-width: 328px) {
	.footerMenuButton{
		font-size: 19px;
	}
}
/* форма отправки фото и видео по почте */
#sendPhotoForm, #sendVideoForm, #multiSendPhotoForm, #multiSendVideoForm, #multiSendPhotoVideoForm, #configsForm{
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4000;
	display: none;
}
#sendPhotoForm h3, 
#sendVideoForm h3, 
#multiSendPhotoForm, 
#multiSendPhotoVideoForm h3, 
#configsForm h3,
#confStartDelay h4,
#confRecLength h4{
	font-family: 'cleanvel';
	text-align: center;
}
.btnScrClose, .btnConfigClose{
	width: 100%;
	height: 70px;
	background-color: #a7bdd0;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	color: #fff;
	font-family: 'cleanvel';
	font-size: 41px;
	line-height: 73px;
}
.btnConfigClose{
	position: fixed;
	bottom: 0px;
}

/* элементы галереи */
.mediaBlockContent{
	position: relative;
	overflow: auto;
}
section.mediaContainer{
	text-align: center;
	padding-bottom: 80px;
}
.galleryItem{
	width: 158px;
	display: inline-block;
	padding: 5px;
}
.mediaBlock{
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.35);
	border: 2px solid #a7bdd0;
	width: 100%;
	height: 148px;
	overflow: hidden;
	float: left;
}
.mediaBlockImage{
	height: 144px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}
.mediaBlockImage div{
	height: 148px;
	width: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.mediaLabel{
	width: 50%;
	position: absolute;
	top: -3px;
	left: -3px;
	cursor: pointer;
	vertical-align: middle;
	line-height: 158px;
}
.mediaLabel img{
	width:50%;
	vertical-align: middle;
}

/* меню элемента галереи */
.mediaBlockMenu{
	text-align: center;
	overflow: hidden;
}
.mediaToggleSeparator{
	height: 1px;
	width: 91%;
	background: #888;
	margin: 0 auto;
}
.mediaToggledMenu{
	width: 100%;
	height: 36px;
	cursor: pointer;
	background: #fff;
	text-align: center;
	font-family: 'cleanvel';
	color: #505050;
	text-align: left;
	padding-left: 3px;
	font-size: 16px;
	line-height: 44px;
}
.mtmSocialScr, .mtmSocialVid{
	height: 44px;
}
.mediaToggledMenu:hover, .mediaToggledMenu:active{
	background-color: #cbd4db;
	color: #fff;
}
.toggleMenuImage{
	display: inline-block;
	width: 22px !important;
}

.mtmPlayVid img, .mtmPlayScr img{
	width: 20px;
	position: relative;
	top: -3px;
}
.mtmDownload img{
	width: 21px;
	position: relative;
	top: -4px;
}
.mtmMail img{
	width: 21px;
	position: relative;
	top: -3px;
}
.mtmSocialVid img, .mtmSocialScr img{
	width: 23px;
	position: relative;
	top: -3px;
}
/* выбор элемента */
.mediaChecked{
	background-image: url(../images/check.png);
	width: 133px !important;
	height: 135px !important;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 0;
	display: none;
}

/* плеер фото */
#screenPlayer{
	min-height: 131px;
	position: fixed;
	width: 100%;
	bottom: -191px;
	border-top: 1px solid #ccc;
	background-color: #fff;
	z-index: 3000;
}

.screenPlayerControls{
	top: 0px;
}

.btnScrLeft{
	float: left;
	width: 50%;
	height: 40px;
	background-color: #a7bdd0;
	border-right: 2px solid #fff;
	cursor: pointer;
	background-image: url('../images/screenPlayerLeft.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.btnScrRight{
	float: left;
	width: 50%;
	height: 40px;
	background-color: #a7bdd0;
	border-left: 2px solid #fff;
	cursor: pointer;
	background-image: url('../images/screenPlayerRight.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.btnScrLeft:hover, .btnScrLeft:active, .btnScrRight:hover, .btnScrRight:active, .btnScrClose:hover, .btnScrClose:active, .btnConfigClose:hover, .btnConfigClose:active{
	background-color: #cbd4db;
}

.btnScrClose, .btnConfigClose{
	width: 100%;
	height: 70px;
	background-color: #a7bdd0;
	cursor: pointer;
	margin-top: 60px;
	text-align: center;
	color: #fff;
	font-family: 'cleanvel';
	font-size: 41px;
	line-height: 73px;
}
.btnConfigClose{
	position: fixed;
	bottom: 0px;
}
#screenPlayerSurface{
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	opacity: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#screenPlayer, #videoPlayer{
	background-color: transparent;
	border-top: none;
}

.btnScrLeft, .btnScrRight, .btnScrClose, .playPlayControls, .pausePlayControls, .stopPlayControls, .repeatPlayControls, .videoPlayerControls > div, .btnCloseVidControls{
	background-color: rgba(167, 189, 208, 0.5);
	border: none;
}

.hideBtns{
	display: none !important;
}