<div class="galleryItem">
	<div class="mediaBlock {mediaType}" path="{path}">
	  	<div class="mediaBlockContent">
	      	<div class="mediaBlockImage">
	      		<div style="background-image: url({thumbPath})"></div>
	      		<div class="mediaLabel">{mediaLabel}</div>
	      		<div class="mediaChecked"></div>
	      	</div>
	      	<div class="mediaBlockMenu">
	      		<!-- воспроизвести -->
	      		<div class="mediaToggledMenu mtmPlayVid {playLink}" path="{path}">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuPlay.png" alt="">
	      			</div>
	      			{stringPlay}
	      		</div>
	      		<div class="mediaToggleSeparator"></div>
	      		<!-- скачать -->
	      		<div href="{downloadPath}" class="mediaToggledMenu mtmDownload downloadVideoLink" onclick="window.open('{downloadPath}','_blank'); return false;">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuDownload.png" alt="">
	      			</div>
	      			{stringDownload}
	      		</div>
	      		<div class="mediaToggleSeparator"></div>
	      		<!-- почта -->
	      		<div href="{downloadPath}" class="mediaToggledMenu mtmMail mailVideoLink">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuMail.png" alt="">
	      			</div>
	      			{stringEmail}
	      		</div>
	      		<div class="mediaToggleSeparator"></div>
	      		<!-- соцсети -->
	      		<div class="mediaToggledMenu mtmSocialVid">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuSocial.png" alt="">
	      			</div>
	      			{stringPublish}
	      		</div>
	      	</div>
	  	</div>
	</div>
</div>