<div class="galleryItem">
	<div class="mediaBlock mediaScreen" screenIndex="{screenIndex}">
	  	<div class="mediaBlockContent">
	      	<div class="mediaBlockImage">
	      		<div pic="{screenPath}" picscreenindex="{screenIndex}" style="background-image: url({screenPath})"></div>
	      		<div class="mediaChecked"></div>
	      	</div>
	      	<div class="mediaBlockMenu">
	      		<!-- воспроизвести -->
	      		<div data-toggle="modal" class="mediaToggledMenu mtmPlayScr playScreenLink">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuPlay.png" alt="">
	      			</div>
	      			Play
	      		</div>
	      		<div class="mediaToggleSeparator"></div>
	      		<!-- скачать -->
	      		<div href="{downloadPath}" class="mediaToggledMenu mtmDownload downloadVideoLink" onclick="window.open('{downloadPath}', '_blank'); return false;">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuDownload.png" alt="">
	      			</div>
	      			Download
	      		</div>
	      		<div class="mediaToggleSeparator"></div>
	      		<!-- почта -->
	      		<div href="{downloadPath}" class="mediaToggledMenu mtmMail linkSendScreenEmail">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuMail.png" alt="">
	      			</div>
	      			E-mail
	      		</div>
	      		<div class="mediaToggleSeparator"></div>
	      		<!-- соцсети -->
	      		<div class="mediaToggledMenu mtmSocialScr">
	      			<div class="toggleMenuImage">
	      				<img src="images/toggleMenuSocial.png" alt="">
	      			</div>
	      			Publish
	      		</div>
	      		<!-- Вконтакте -->
	      		<div class="screenSocials"></div>
	      	</div>
	  	</div>
	 </div>
</div>